* {
  font-family: "TT Norms-Medium", Montserrat, sans-serif;
  color: #353535; }

.container {
  width: 900px;
  margin: 0 auto;
  padding: 30px 106px; }

.flex {
  display: flex;
  justify-content: space-between; }

.search-block__heading {
  font-family: "TT Norms-Regular", Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #8C8C8C; }

.search-block__input {
  align-items: center;
  margin-top: 21px;
  width: 320px; }
  .search-block__input .search-block__input_text {
    width: 208px;
    height: 30px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    padding: 0 12px;
    box-sizing: border-box;
    border: 1px solid #E9E9E9;
    border-radius: 2px; }
  .search-block__input .search-block__input_button {
    width: 90px;
    height: 40px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #353535;
    border-radius: 3px; }

.info-block__form {
  padding-top: 35px; }
  .info-block__form .info-block__form_product {
    width: 320px;
    margin-bottom: 30px; }
    .info-block__form .info-block__form_product .info-block__form_product_name {
      width: 225px;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.5px;
      margin-top: 0; }
  .info-block__form .info-block__form_select {
    box-sizing: border-box;
    width: 220px;
    padding: 7px 12px;
    font-family: "TT Norms-Regular", Montserrat, sans-serif;
    margin-bottom: 20px; }
  .info-block__form .info-block__form_radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; }
    .info-block__form .info-block__form_radio label {
      display: flex;
      align-items: center;
      font-family: "TT Norms-Regular", Montserrat, sans-serif;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.16px;
      margin-bottom: 12px; }
    .info-block__form .info-block__form_radio input {
      margin-right: 16px;
      width: 18px;
      height: 18px; }
  .info-block__form .info-block__form_button {
    width: 180px;
    background: #4990E2;
    border-radius: 3px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16px;
    border: none;
    color: #FFFFFF;
    padding: 8px 0; }

.info-block__description {
  width: 550px;
  background-color: #f7f7f7;
  padding: 20px 18px;
  box-sizing: border-box;
  border-radius: 3px; }
  .info-block__description .info-block__description_ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .info-block__description .info-block__description_ul .info-block__description_li {
      color: #8C8C8C;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 17px; }
      .info-block__description .info-block__description_ul .info-block__description_li span {
        color: #353535; }
      .info-block__description .info-block__description_ul .info-block__description_li a {
        text-decoration: none;
        color: #4990E2; }

/*# sourceMappingURL=style.css.map */
