{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": ["airbnb"],
    "plugins": [
        "babel",
        "import",
        "prettier",
        "react"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": "off", 

        "arrow-parens": "off", 
        "object-curly-newline": "off", 
        "no-mixed-operators": "off", 
        "arrow-body-style": "off", 
        "function-paren-newline": "off", 
        "no-plusplus": "off",
        "space-before-function-paren": 0, 

        "no-console": "error", 
        "no-alert": "error", 

        "no-param-reassign": "off", 
        "radix": "off", 

        "react/require-default-props": "off", 
        "react/forbid-prop-types": "off", 

        "prefer-destructuring": "off",

        "jsx-a11y/anchor-is-valid": "off",

        "react/no-find-dom-node": "off", 
        "react/no-did-mount-set-state": "off",
        "react/no-unused-prop-types": "off", 
        "react/jsx-one-expression-per-line": "off",
        "react/prefer-stateless-function": "off",

        "prettier/prettier": ["error"]
    }
}
